# ignorar todo
*

# Salvo subcarpetas
!*/

# Y el código
!*.c
!*.h

# y otros ficheros
!Makefile
!make-and-run
!README.TXT
!README.md
!.gitignore

# y todo lo que está en la carpeta examples/
!examples/*